#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: red solid 5px;
  width: 300px;
}
.smallFont {
  font-size: medium;
}
.largeFont {
  font-size: x-large;
}